@charset "utf-8";

/* 全ページ共通設定
=========================== */

html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

body {
  color: #333;
  letter-spacing: 0.25rem;/* 文字間 */
  font-family: 'Noto Sans JP', " ヒラギノ角ゴ Pro W3", "Yu Gothic Medium", " 游ゴシック Medium", YuGothic, " 游ゴシック体 ", sans-serif;

}

h2, h3, h4, h5 {
  font-size: 2.4rem;
  letter-spacing: 0.8rem;/* 文字間 */
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 15px;
  color: #f7b41e;
}


p, dl {
  letter-spacing: 0.45rem;/* 文字間 */
  line-height: 1.7;
  font-size: 1.6rem;
  color: #333;
}

li{
	list-style-type:none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.meguru {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-weight: 500;
  text-transform: lowercase;
}

.title {
  text-align: center;
}

/*横並び*/

.flex {
  display: flex;
  justify-content: space-around;
}



/* --- 背景画像 --- */

.big-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* ヘッダー領域 設定
--------------------------- */

.page-header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 210px;
}

/* ナビ領域 設定
--------------------------- */

.main-nav {
  display: flex;
  list-style-type: none;
  text-transform: lowercase;
  font-size: 2.8rem;
  margin-top: 20px;
  margin-bottom: 24px;
  letter-spacing: 0.3rem;/* 文字間 */
}

.main-nav li {
  margin-left: 75px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.main-nav li a, .topKiji a {
  color: #333;
}

.main-nav li a:hover, .topKiji a:hover {
  color: #f7b41e;
}

/* フッター 設定
--------------------------- */

footer {
    background-color: #f4f1ec;
}

.footer-contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.footer-box {
 
  margin-left: auto;
  margin-right: auto;
}
.footer-box h2 {
  text-align: center;
}

.sns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 0 0 0;
  gap: 15px;
  min-width: 100px;
  max-width: 180px;
}
.sns-logo {
  list-style-type: none;
}

.twi {
  margin-top: 8px;
}

.footer-nav {
  font-size: 2.8rem;
  text-transform: lowercase;
  list-style: none;
  padding-top: 15px;
}

.footer-nav li {
  font-family: futura-pt, sans-serif;
    font-weight: 400;
  font-style: normal;
}

.footer-nav li a {
  color: #333;
  line-height: 1.5;
}
.footer-nav li a:hover {
  color: #f7b41e;
}
.footer-name {
  text-align: center;
  padding: 0 0 15px 0;
  font-size: 0.875rem;
  color: #333;
}

.up-waku {
    position: fixed;
  bottom: 20px;
  right: 20px;

}

.up-logo {
  max-width: 50px;
  min-width: 20px;
    display: none;
}

/* TOP
=========================== */

/* vegas */

.vegas {
  width: 100%;
  height: 100vh;
}

.catch {
width: 100%;
height: 100vh;
position: relative;

}

.catch p {
position: absolute;
right: 15px;
bottom: 80px;
  color: #333;
  font-size: 3rem;
  text-align: right;
      line-height: 1.8;
        background-image: url("../img/copy3.svg");
        padding: 5px 40px;
        background-position: center bottom;

      
}


#top h2 {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-weight: normal;
  text-transform: none;
}


/* コロナ */

#corona {
  text-align: center;
  margin: 150px 0;
  font-family : YuMincho,    /* Mac用 */
  'Yu Mincho', /* Windows用 */
  serif;
}

#corona h2 {
  letter-spacing: 0.45rem;/* 文字間 */
  line-height: 1.7;
  font-size: 1.6rem;
  color: #333; 
   font-family : YuMincho,    /* Mac用 */
  'Yu Mincho', /* Windows用 */
  serif;
  font-weight: normal;
}

.newsH {
  margin-top: 0;
  text-transform: none;
}

.newsH .meguru {
  font-size: 2.5rem;
  text-transform: none;
}

.topNews {
display: flex;
justify-content: flex-start;
  line-height: 2.0;

}

.topNews dd{
  padding-left: 15px;
}


/*meguruについて*/

.info {
  margin: 100px 0;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
    background-image: url("../img/watercolor_bg.png");

}

.infoA {
  text-align: center;
  padding: 80px 0 20px 0;
}

.info img {
  width: 80px;
  height: 80px;
  margin-left: 45px;
}

#infoIcon {
  margin-right: 30px;
}


#infoIcon img {
  margin-left: 20px;
}

.info .flex {
  justify-content: center;
  margin-left: 50px;
  margin-right: 20px;
  padding-bottom: 100px;
}

.info .flex div {
  margin: 20px;
}

.info .flex div p {
text-align: center;
font-size: 1.5rem;
} 



/*access*/

.access {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.access dd {
      line-height: 1.8;
}

.mini {
  font-size: 1.3rem;
}


/* コンセプト
=========================== */

#concept, #gallery {
  background-color: #f4f1ec;
}

#concept h2, #gallery h2, h3 {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-weight: normal;
  text-transform: none;
  color: #333;
  margin-bottom: 0;
}

#concept .flex img {
  max-width: 400px;
}

.emoji {
  width: 35px;
  height: 40px;
  margin: 0 15px;
}

.catchphrase  {
  text-align: center;
  padding: 50px 0 80px 0;
}

.catchA {
  font-size: 4.0rem;
}

.catchB {
  font-size: 2.8rem;
}

.catchC {
     font-family : YuMincho,    /* Mac用 */
  'Yu Mincho', /* Windows用 */
  serif;
  font-weight: normal;
  font-size: 3.8rem;
}


.catchphrase span {
  color: #333;
}

.mincho {
  font-family : YuMincho,    /* Mac用 */
  'Yu Mincho', /* Windows用 */
  serif;
  font-weight: 1000;
  font-size: 2.0rem;
}

.green {
  color: #13ae67;
}


.rotateArea{
position: relative;
}

.rotate {
position: absolute;
left: calc(-25% - 5px);
top: 130px;
  transform:rotate(90deg);
  width: fit-content;
  height: fit-content;
}

.rotate h3 {
  margin-bottom: 0;
font-size: 1.8rem;
  font-weight: bold;
}

.kiji {
  width: 100%;
  padding: 20px;
}

.kiji p {
  margin-bottom: 20px;
       letter-spacing: 0.2rem;/* 文字間 */
}

.leafP {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.leaf {
    max-width: 29px;
    height: 26.29px;
    position: absolute;
        top: -12px;
    right: -20px;

}

.leafA {
     width: 29px;
    height: 26.29px;
    position: absolute;
    top: -12px;
    right: -20px;
}

/* top*/
.leafB {
         max-width: 29px;
    height: 26.29px;
    position: absolute;
    top: -12px;
    right: -20px;
}


.title {
  font-family: futura-pt, sans-serif;
font-weight: 550;
font-style: normal;
text-transform: uppercase;
font-size: 44px;
margin-top: 100px;
      letter-spacing: 0.45rem;/* 文字間 */
}

.titleA {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  margin: 0 20px 0 0;
  letter-spacing: 0.3rem;/* 文字間 */
}

.titleA .meguru{
  font-size: 1.8rem;
  font-weight: 500;
}

.kacho {
    margin-bottom: 80px;
  padding: 0 15px;
  justify-content: space-between;
}

.kacho img {
  margin-top: 75px;
}

.kachoKiji {
  width: 50%;
}

.kachoKiji p {
  margin: 20px 0;
      letter-spacing: 0.2rem;/* 文字間 */
}


#concept footer, #gallery footer {
  background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 50px;
  gap: 50px;
}

.grid p {
text-align: center;
         letter-spacing: 0.2rem;/* 文字間 */
}

.grid img:hover {
  opacity: 0.5;
}


.dots {
  text-emphasis: filled;
  -webkit-text-emphasis: filled;
}


/* ギャラリー
=========================== */

#gallery {
padding-top: 80px;
}

#gallery .leafP .title {
margin-top: 0;
}

#gallery .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  padding: 70px 0;
}




/* 予約
=========================== */

#contact {
  background-image: url(../img/contact.jpg);
  background-size: cover;
padding-bottom: 100px;
}

.reserve {
  display: flex;
  justify-content: space-between;
}

#contact h2 {
  color: #A388E7;
  margin-top: 0px;
  padding-top: 80px;
  font-size: 4rem;
}

.thank {
	margin: 35px 0;
}

.form {
  padding-top: 100px;
  width: 50%;
}

form div {
  margin-bottom: 14px;
  font-size: 1.4rem;
  }
  
/*教科書→label*/
#name, #email, #message {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

input[type="text"],
input[type="email"],
textarea{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.4rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}

textarea {
  width: 100%;
  max-width: 480px;
  height: 10rem;
}

input[type="submit"] {
  border: none;
  line-height: 1.0;
  cursor: pointer;
  margin-bottom: 30px;
}

/* --- ボタン --- */
.button {
  background-color: #8B64EC;
  color: #fff;
  padding: 18px 32px;
  border-radius: 5px;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;/* 文字間 */
}

.button:hover {
  background-color: #4c54c3;
}


/* --------- MAP --------- */

.access img {
  width: 350px;
}

.access .meguru {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


#location {
  padding: 4% 0;
}

#location .wrapper {
  display: flex;
  justify-content: space-between;
}

.location-info {
  width: 35%;
}

.location-info p {
  padding: 12px 10px;
}

.location-map {
  width: 90%;
  height: 400px;
    max-width: 500px;
        margin-left: 10px;
}

/*-- i frame --*/

iframe {
  width: 100%;
  height: 400px;
}



/* ===========================
レスポンシブ対応
=========================== */

@media (max-width:1061px) {
    .emoji {
        width: 20px;
    }
    .catchA {
  font-size: 3.0rem;
}

.catchB {
  font-size: 2.0rem;
}

.catchC {
  font-size: 3.0rem;
}
    
.mincho {
  font-size: 1.6rem;
}
    
} /* 1061モバイル終わり @media閉じタグ */


@media (max-width:1050px) {
.footer-contents {
    display: flex;
    justify-content: center;

    }
} /* 1050モバイル終わり @media閉じタグ */


@media (max-width:1015px) {
    
.reserve {
    flex-direction: column;
        align-items: center;

    }
    
#contact {
padding-bottom: 100px;
}

.form {
padding-top: 30px;
}

    
} /* 1015モバイル終わり @media閉じタグ */


@media (max-width:1010px) {
    
#concept .flex {
    flex-direction: column;
        align-items: center;
    }
    
.kacho img {
margin-top: 50px;
}

.kachoKiji {
width: 80%;
text-align: center;
}

} /* 1010モバイル終わり @media閉じタグ */


@media (max-width:980px) {
    
#top .flex {
flex-direction: column;
        align-items: center;
}

    }
} /* 980モバイル終わり @media閉じタグ */


@media (max-width:855px) {
    
.emoji {
        width: 15px;
    }
    .catchA {
  font-size: 2.0rem;
}

.catchB {
  font-size: 1.7rem;
}

.catchC {
  font-size: 2.0rem;
}
    
.mincho {
  font-size: 1.6rem;
}
    
} /* 855モバイル終わり @media閉じタグ */


@media (max-width:800px) {
  
   /* 縦並び　HEADER/TOP */
    .page-header, .access {
        flex-direction: column;
        align-items: center;
    }
    
    .main-nav li {
  margin: 0 30px;
}
    
    .location-map {
            margin-top: 15px;
    }
    
    /* TOP */
    
    .new {
        margin-left: 65px;
    }
    
    } /* 800モバイル終わり @media閉じタグ */
    
    
    @media (max-width:700px) {
    
    .topNews {
flex-direction: column;
align-items: flex-start;
margin-bottom: 15px;
}
    
    
    
.emoji {
        width: 12px;
    margin: 0;
    }
    .catchA {
  font-size: 1.8rem;
}

.catchB {
  font-size: 1.5rem;
}

.catchC {
  font-size: 1.8rem;
}
    
.mincho {
  font-size: 1.6rem;
}
    
} /* 700モバイル終わり @media閉じタグ */

      @media (max-width:620px) {
       
       .catch p {
       font-size: 2.0rem;
       }
       


    
} /* 620モバイル終わり @media閉じタグ */

    
   @media (max-width:580px) {
       
       .catch p {
       font-size: 2.0rem;
       }
       
    .main-nav {
  font-size: 2.0rem;
}

    
} /* 580モバイル終わり @media閉じタグ */

   @media (max-width:500px) {

#concept .kiji {
margin-left: 20px;
  width: 85%;
  padding: 20px 0px;
}


.rotate {
position: absolute;
left: calc(-25% - 20px);
top: 130px;
  transform:rotate(90deg);
  width: fit-content;
  height: fit-content;
}
       
.main-nav li {
  margin-left: 0px;
    font-size: 1.8rem;
       }

       
       
       
       
}/* 500モバイル終わり @media閉じタグ */


      @media (max-width:480px) {
       
       .catch p {
       font-size: 1.5rem;
       }
       
.grid {
    padding: 0px;
  gap: 50px;
}

    
} /* 480モバイル終わり @media閉じタグ */



/* owari */